[v-cloak]{
    display: none;
}
[v-open]{
    display: visible;
}


body{
    background-color: rgba(0, 0, 0, 0.87);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* Transitions */

.slide-leave-to, .slide-enter {
    opacity: 0;
    transform: translatex(150px);
}
.slide-enter-active, .slide-leave-active {
    transition: all 2s linear;
}


#app{
    background-color:  rgba(0, 0, 0, 0..05);
}


/* Player Image positions */
     #lowry {
        position: static;
        top: 20%;
        left: 1%;
    }

    #vanvleet {
        position: static;
        top: 20%;
        left: 76%;
    }

.title {
    position: absolute;
    top: 2%;
    left: 10%;
}
.topRight  {
    position: absolute;
    top: 5%;
    right: 2%;
}
.topLeft  {
    position: absolute;
    top: 5%;
    left: 2%;
}

.bottomRight  {
    position: fixed;
    bottom: 5%;
    right: 2%;
}
.bottomLeft {
    position: fixed;
    font-size: 1vw;
    bottom: 5%;
    left: 2%;
    transition-duration:.15s;
    display: block;
    border-radius: 10px;

}
 .Center {
    position: absolute;
    top: 50%;
    left: 50%;
 }