<!DOCTYPE html>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">


    <head> 
        <title> WE ARE THE NORTH</title>
        <link rel="icon" href="Raptors Logo.png" >
        <link rel="stylesheet" href="index.css">

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        

        


<div id="app" >
    <div id="container" >
        <div id="images" v-if="showImg">
           <transition name="slide" appear>
                <img id="lowry" v-bind:src="low" width= 20% @click="page2(286), showImg = !showImg" @mouseover="popImage(1)" @mouseout="unpopImage(1)">
                    </img>
                </transition>
            <transition name="slide" appear>
                <img id="fred" v-bind:src="fred" width= 25% @click="page2(458), showImg = !showImg" @mouseover="popImage(2)" @mouseout="unpopImage(2)">
                    </img>
                </transition>
        </div>
        <div id="table">
            <table v-if="!showImg" class="table table-striped" :class="['table-dark', 'table-bordered']">
                <thead class="thead-light">
                    <th>Statistics</th>
                    <th>Year Averages</th>

                </thead>
                   <tbody v-cloak>
                    <tr>
                        <td>Assist</td>
                        <td>{{ast}}</td>
                        
                    </tr>
                    <tr>
                        <td>Block</td>
                        <td>{{blk}}</td>
                    </tr>
                    <tr>
                        <td>Free Throws</td>
                        <td>{{ftm}}</td>
                    </tr>

                    <tr>
                        <td>{{data}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

    </head>


    <body> 
        <script>
            var VM = new Vue ({
                el: '#app',
                data: {
                    showImg: true,

                    low:'Lowry_Transparent.png',
                    fred:'Fred_Transparent 3.png',
                    response: [],
                    data: [],

                    name: [],

                    ast: '',
                    blk: '',
                    ftm: ''

                },
                computed: {

                },
                methods: {
                    popImage: function(p) {
                    if(p == 1) {
                        this.low= 'Lowry_Transparent2.png'
                    } else {
                        if(p == 2) {
                            this.fred= 'Fred_Transparent 4.png'
                        }
                    }
                 },
                 unpopImage: function(p) {
                     if(p == 1) {
                         this.low= 'Lowry_Transparent.png'
                     } else {
                         if(p == 2) {
                             this.fred= "Fred_Transparent 3.png"
                         }
                     }
                 },
                 page2: async function(id) {
                    response = await fetch(`https://www.balldontlie.io/api/v1/season_averages?per_page=100&seasons[]=2019&player_ids[]=${id}`)
                    data = await response.json();
                    console.log(data); 
                    VM.data = data.data[0];

//                    VM.name = data.data[0].split("", 2);
  //                  consol.log(name);
                    
                    const { ast, blk, ftm } = VM.data
                    VM.ast = ast;
                    VM.blk = blk;
                    VM.ftm = ftm;

                 },
                 playerData: function() {
                     return data.data[0].ast;
                 }
                },
            })
        </script>
    </body>



